<div id="box">
<div class="form-container">
  <form name="registerForm">
     
      <label inputmode="e-mail" for="e-mail">Dirección de correo electrónico*</label>
      <input type="text" id="e-mail" placeholder="Thriflora@Thriflora.com" required/><br><br>
      <p class="error-message"></p>
      <div>
      <p>¿Cuál es tu Thriflora más cercano?</p>
     
      <input type="radio" value="España" (click)="countrySelected(true)">España<br/>
      <input type="radio" value="Italia" (click)="countrySelected(true)">Italia<br/>
      <input type="radio" value="Francia" (click)="countrySelected(true)">Francia<br/>
      </div>
      <br>
      <input type="checkbox" (click)="isTermsAcceptedChanged()">Quiero recibir un email cuando la tienda esté disponible
      <br>
      <input class="button button1" type="button" [disabled]="!someCountrySelected || !termsAccepted" value="¡Quiero ser la primera en comprar!"  (click)="btnClick()">


  </form>
  </div>
</div>


  
  